// Variables

// Table of Contents
//
// Colors
// Base
// Background-colors
// States
// Spacing
// Fonts
// Buttons
// Links
// Box
// Shadow
// Alert
// Z-index

/*********************/
/*********************/

//
// Colors
//

/*********************/
/*********************/

//
// Base
//
$base-font-size: 18px;
$base-font-size-no-px: 18; // no 'px' for function calculateRem
$base-line-height: 26px;
$base-line-height-no-px: 26; // no 'px' for function calculateRem
$base-letter-spacing: .2px;
$base-letter-spacing-no-px: .2; // no 'px' for function calculateRem
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

/*********************/
/*********************/

//
// Background colors
//


/*********************/
/*********************/

//
// States
//


/*********************/
/*********************/

//
// Spacing
//


/*********************/
/*********************/

//
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
//

// Typography
$font_path: '../fonts/';

/*********************/
/*********************/

//
// Buttons / CTA
//


/*********************/
/*********************/

//
// Links
//


/*********************/
/*********************/

//
// Box
//

/*********************/
/*********************/

//
// Font Icons
//


/*********************/
/*********************/

//
// Images
//

$img_path: '../images/';

/*********************/
/*********************/

//
// Transitions
//


/*********************/
/*********************/

//
// Shadow
//


/*********************/
/*********************/

//
// Alert
//


/*********************/
/*********************/
//
// Additionnal breakpoints
//


/*********************/
/*********************/
//
// Z-index
//

/*$z-index: (
    toolbar: 1300
);*/
